<h1>Application Details</h1>
<div class="d-flex justify-content-center">
    <div class="card box-shadow">
        <div class="card-body">
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    App Name
                </div>
                <div class="col-12 col-md-6">
                    ThreatFabric Application
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    App Version
                </div>
                <div class="col-12 col-md-6">
                    1.1.2.0
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    Installation timestamp
                </div>
                <div class="col-12 col-md-6">
                    {{ date }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    Last Update timestamp
                </div>
                <div class="col-12 col-md-6">
                    {{ date }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    Installation file #
                </div>
                <div class="col-12 col-md-6">
                    900150983cd24fb0d6963f7d28e17f72
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    App Permissions
                </div>
                <div class="col-12 col-md-6">
                    Camera, Location, Contacts
                </div>
            </div>
            <div class="row">
                <div class="col-12 col-md-6 app-details">
                    App signing certificate
                </div>
                <div class="col-12 col-md-6">
                    d16fb36f0911f878998c136191af705e
                </div>
            </div>
            
        </div>
    </div>
</div>