<nav>
    <ul>
        <li><img src="/assets/logo.jpg" class="t-logo" /></li>
        <li class="text-center"><a routerLink="/dashboard" routerLinkActive="active" title="Dashboard"><fa-icon [icon]="faHome"></fa-icon></a></li>
        <li class="text-center"><a routerLink="/devices" routerLinkActive="active" title="Devices"><fa-icon [icon]="faMobile"></fa-icon></a></li>
        <li class="text-center"><a routerLink="/settings" routerLinkActive="active" title="Settings"><fa-icon [icon]="faCogs"></fa-icon></a></li>
        <li class="text-center"><a routerLink="/app-details" routerLinkActive="active" title="App Details"><fa-icon [icon]="faDesktop"></fa-icon></a></li>
    </ul>
</nav>
