.t-logo {
  width: 100%;
  padding: 0.3rem 0;
}
a {
  color: #b6bec1;
  font-size: 1.5rem;
  width: 100%;
  padding: 1rem 0;
  cursor: pointer;
  display: inline-block;
}
a:hover fa-icon,
a:active fa-icon,
a.active fa-icon {
  color: #ffffff;
}
a:hover,
a:active {
  background-color: rgba(0, 0, 0, 0.5);
}
a.active {
  background-color: #000000;
}
