<h1>Devices</h1>
<div class="box-shadow pt-4 pl-4 pr-4 pb-3 rounded" *ngIf="devices">
  <table id="example" datatable class="table table-striped table-bordered table-hover" style="width:100%">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Device ID</th>
        <th scope="col">OS version</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Type</th>
        <th scope="col">Risk</th>
        <th scope="col">Last seen</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let device of devices" (click)="selectDevice(device.id)">
        <td>{{ device.id }}</td>
        <td>{{ device.deviceID }}</td>
        <td>{{ device.osVersion }}</td>
        <td>{{ device.brand }}</td>
        <td>{{ device.model }}</td>
        <td>{{ device.type }}</td>
        <td>{{ device.risk }}</td>
        <td>{{ device.lastSeen }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Device ID</th>
        <th scope="col">OS version</th>
        <th scope="col">Brand</th>
        <th scope="col">Model</th>
        <th scope="col">Type</th>
        <th scope="col">Risk</th>
        <th scope="col">Last seen</th>
      </tr>
    </tfoot>
  </table>
</div>
