<h1>Settings</h1>
<div class="d-flex justify-content-between flex-wrap">
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
    <div class="card">
        <div class="card-body box-shadow rounded">
            <div class="text-center">
                <fa-icon [icon]="faDesktop" class="card-img-class"></fa-icon>
            </div>
            <h5 class="card-title text-center">Themes</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary btn-block">Change settings</a>
        </div>
    </div>
</div>