/* You can add global styles to this file, and also import other style files */

/*
font-family: 'Roboto', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Bebas Neue', cursive;
*/

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;;
}

html, body {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    overflow: hidden;
    background-color: #e6e6e6;
}

body {
    padding-top: 50px;
}

h1 {
    font-size: 1.5rem;
    border-bottom: 1px solid #cccccc;
    margin-bottom: 1.5rem;
}

.box-shadow {
    box-shadow: 0px 0px 4px 0px rgba(0,0,0,0.2);
    background-color: #FFF;
}

.content-center {
    display: flex;
    justify-content: center;
}

label {
    position: absolute;
    z-index: 10;
    top: 10px;
    width: 100%;
    left: 13px;
    color: #999;
    transition: all 0.2s;
    display: inline-block !important;
    text-align: left;
}

.float-label {
    position: relative;

    input, textarea {
        height: 45px !important;
        padding-top: 20px !important;

        &::placeholder {
            color: transparent !important;
        }

        &:focus ~ label {
            top: 4px;
            font-size: 12px;
            left: 14px;
        }

        &:not(:placeholder-shown) ~ label {
            top: 4px;
            font-size: 12px;
            left: 14px;
        }
        
        &:not(:-ms-input-placeholder) ~ label {
            top: 4px;
            font-size: 12px;
            left: 14px;
        }
    }
}